# Root Git Ignore

# Dependencies
node_modules/
**/node_modules/

# Builds/Dist
**/dist/
**/build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.*

# Expo/React Native
.expo/
.expo-shared/
**/.expo/
**/.expo-shared/
android/
ios/
web-build/

# Cache
.cache/
**/.cache/
.turbo/

# Misc
*.orig.*
*.local
